@{
    ViewData["Title"] = "Home Page";

    var userName = User.Identity.IsAuthenticated ? User.Identity.Name : string.Empty;
}

<div class="text-center">
    <h1 class="display-4">Welcome to @BLL.Models.AppSettings.Title @userName</h1>
    <p>@BLL.Models.AppSettings.Description</p>
</div>
